extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='book') Book:
      select#book.form-control(type='select' placeholder='Select book' name='book' required='true')
        - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for book in book_list
          if bookinstance 
            //- Handle GET form, where book.author is an object, and POST form, where it is a string.
            //- When updating a book we want to set the value of the dropdown menu to the previous book via this way
            option(
              value=book._id
              selected=(
                book._id.toString()==bookinstance.book._id
                || book._id.toString()==bookinstance.book
              ) ? 'selected' : false
            ) #{book.title}
          else
            option(value=book._id) #{book.title}
    div.form-group
      label(for='imprint') Imprint: 
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required='true' value=(undefined===bookinstance ? '' : bookinstance.imprint))
    div.form-group
      label(for='due_back') Date when book available:
      input#due_back.form-control(type='date', name='due_back' value=(undefined===bookinstance ? '' : bookinstance.due_back_yyyy_mm_dd))
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        if bookinstance 
          option(value='Maintenance' selected=(bookinstance.status == "Maintenance") ? 'selected' : false) Maintenance 
          option(value='Available' selected=(bookinstance.status == "Available") ? 'selected' : false) Available 
          option(value='Loaned' selected=(bookinstance.status == "Loaned") ? 'selected' : false) Loaned 
          option(value='Reserved' selected=(bookinstance.status == "Reserved") ? 'selected' : false) Reserved 
        else 
          option(value='Maintenance') Maintenance
          option(value='Available') Available
          option(value='Loaned') Loaned
          option(value='Reserved') Reserved

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg