extends layout 

block content 
    h1= course.name
    unless course.code == ""
        p 
            strong Code: 
            |   #{course.code}
    unless course.school == ""
        p 
            strong School: 
            |   #{course.school}
    unless creator == "" 
        p 
            strong Creator:
            |   #{creator}
    unless course.description == ""
        p 
            strong Description: 
        p= course.description

    a.btn.btn-primary(href="/cards?course_id=" + course._id ) View Cards
    br
    br
    if creator == user.username
        a.btn.btn-primary(href="/courses/"+ course._id +"/delete") Delete course
        br
        a.btn.btn-primary(href="/courses/"+ course._id +"/update") Edit course
    