extends layout

block content
    head
        link(rel='stylesheet', href='/public/stylesheets/coursesList.css')
        link(rel='stylesheet', href='/public/stylesheets/courseModal.css')

    body
        h1 Courses:

        each msg in successes
            div.alert_succes
                p= msg
        each err in errors
            div.alert_error 
                p= err
        
        div(class="coursesNavbar")
            a(href='personal', class="courseNavItem") Your courses
            a(href='public', class="courseNavItem") Public courses
            div(class="animation start-personalcourses")

        hr
        div(class="recentlyCourses")
            h4 Recently visited
            ul(class="courseList")
                each recent in recents
                    li(class="courseItem" data-id=`${recent.course._id}`)
                        div(onclick="loadModal(this)", class="courseLink") 
                            div(class="courseBox")
                                span(class="courseName") #{recent.course.name} 
                                span(class="courseSchool") 
                                    if recent.course.school != ""
                                        |    #{recent.course.school} 
                                ul(class="courseDetails")
                                    li
                                        i(class="bx bxs-collection")
                                        span #{recent.course.numCards}
                                    li
                                        i(class="bx bxs-star")
                                        span #{recent.course.numFavorites}
                                    li
                                        i(class="fa-solid fa-eye")
                                        span #{recent.course.numVisits}
                            if recent.course.image 
                                img(src="image/"+recent.course.image class="courseImage", onerror="this.style.display='none'", alt=" ")
                else 
                    li You have no recently visited courses yet 

        hr
        div(class="favoriteCourses")
            h4 Favorited courses
            ul(class="courseList")
                each favorite in favorites
                    li(class="courseItem" data-id=`${favorite.course._id}`)
                        div(onclick="loadModal(this)", class="courseLink") 
                            div(class="courseBox")
                                span(class="courseName") #{favorite.course.name} 
                                span(class="courseSchool") 
                                    if favorite.course.school != ""
                                        |    #{favorite.course.school} 
                                ul(class="courseDetails")
                                    li
                                        i(class="bx bxs-collection")
                                        span #{favorite.course.numCards}
                                    li
                                        i(class="bx bxs-star")
                                        span #{favorite.course.numFavorites}
                                    li
                                        i(class="fa-solid fa-eye")
                                        span #{favorite.course.numVisits}
                                div(class="courseFavorite" onclick="favorite(this)")
                                    i(class="bx bxs-star")  
                            if favorite.course.image 
                                img(src="image/"+favorite.course.image class="courseImage", onerror="this.style.display='none'", alt=" ")
                
                li(class="courseItem")
                    a(href='/courses/public', class="courseLink createCourse") 
                        div(class="courseBox createCourse")
                            i(class="bx bx-plus createCourseImage")
                            span(class="courseName createCourse") Explore new courses

        hr
        div(class="privateCourses")
            h4 Your courses
            ul(class="courseList")
                each course in course_list
                    li(class="courseItem" data-id=`${course._id}`)
                        div(onclick="loadModal(this)", class="courseLink") 
                            div(class="courseBox")
                                span(class="courseName") #{course.name}
                                    if course.public 
                                        i(class='bx bxs-megaphone coursePublicIcon')
                                span(class="courseSchool") 
                                    if course.school != ""
                                        |    #{course.school} 
                                ul(class="courseDetails")
                                    li
                                        i(class="bx bxs-collection")
                                        span #{course.numCards}
                                    li
                                        i(class="bx bxs-star")
                                        span #{course.numFavorites}
                                    li
                                        i(class="fa-solid fa-eye")
                                        span #{course.numVisits}
                            if course.image 
                                img(src="image/"+course.image class="courseImage", onerror="this.style.display='none'", alt=" ")
                                        
                li(class="courseItem")
                    a(href='/courses/create', class="courseLink createCourse") 
                        div(class="courseBox createCourse")
                            i(class="bx bx-plus createCourseImage")
                            span(class="courseName createCourse") Create new course
        
        div(class="courseModal hidden")
            div(class="courseModal-inside")
                div(class="contents front")
                    div(class="depth")
                        a(class="courseModal-close")
                            i(class="bx bx-x bx-sm")
                        a(class="courseModal-share")
                            i(class="bx bxs-share bx-sm")
                        div(class="courseModalHeader")
                            img(class="courseModalImage")
                            p(class="courseModalTitle")
                        br
                        br
                        a(class="btn btn-primary" id="courseModalTest" onclick="event.stopPropagation();") Take test
                        br
                        a(class="btn btn-primary" id="courseModalEdit" onclick="event.stopPropagation();") Edit course


                div(class="contents back")
                    div(class="depth")
                        a(class="courseModal-close")
                            i(class="bx bx-x bx-sm")
                        a(class="courseModal-back")
                            i(class="bx bx-arrow-back bx-sm")
                        div(class="courseModalDetails")
                            div(class="courseModalIcons")
                                i(class="bx bxs-collection")
                                span(class="courseModalNumcards") 
                                i(class="bx bxs-star")
                                span(class="courseModalFavorites")
                                i(class="fa-solid fa-eye")
                                span(class="courseModalVisits")
                            br
                            p(class="courseModalInfo") Code
                            p(class="courseModalCode")
                            br
                            p(class="courseModalInfo") Creator
                            p(class="courseModalCreator")
                            br
                            p(class="courseModalInfo") School
                            p(class="courseModalSchool")
                            br
                            p(class="courseModalInfo") Description
                            p(class="courseModalDescription")

                        div(class="courseModalQR hidden")
                            a(class="btn btn-primary" id="courseModalLink") Get link

    

    script(src='/public/scripts/courseFavorite.js')
        <!-- This script is used to pass variables from this pug file to the courseAddition javascript file -->
    script(type="text/javascript").
        var user = !{JSON.stringify(user)};
    script(src='/public/scripts/courseModal.js')