extends layout 

block content 
    h1(id="course-name")= course.name
    unless course.code == ""
        p 
            strong Code: 
            |   #{course.code}
    unless course.school == ""
        p 
            strong School: 
            |   #{course.school}
    unless creator == "" 
        p 
            strong Creator:
            |   #{creator}
    unless course.description == ""
        p 
            strong Description: 
        p= course.description

    a.btn.btn-primary(href="/cards?course_id=" + course._id ) View Cards
    br
    br
    if creator == user.username
        a.btn.btn-primary(href="/courses/"+ course._id +"/delete") Delete course
        br
        br
        a.btn.btn-primary(href="/courses/"+ course._id +"/update") Edit course
        
    if course.public
        br
        br
        a.btn.btn-primary(id="btn-share-qr") Share QR code
        | 
        a.btn.btn-primary(id="btn-share-link") Share link
        | 
        label(id="lbl-copied", style="scale: 0;")  copied to clipboard
        br
        br
        div(id="share", class="div-share")
        script(src="/public/scripts/course_details.js")