extends layout

block content
    head
        link(rel='stylesheet', href='/public/stylesheets/coursesList.css')
        link(rel='stylesheet', href='/public/stylesheets/courseModal.css')
    body
        h1 Courses:

        each msg in successes
            div.alert_succes
                p= msg
        each err in errors
            div.alert_error 
                p= err
        
        div(class="coursesNavbar")
            a(href='personal') Your courses
            a(href='public') Public courses
            div(class="animation start-publiccourses")

        form(method='GET' action='')
            div.form-group
            input.form-control(type='text', placeholder='Search for course', name='searchTerm', required='true')
 
        hr
        div(class="publicCourses")
            h4 Public courses
            h10 Results #{count}
            ul(class="courseList")
                each course in course_list
                    li(class="courseItem" data-id=`${course._id}`)
                        div(onclick="loadModal(this)", class="courseLink") 
                            div(class="courseBox")
                                span(class="courseName") #{course.name} 
                                span(class="courseSchool") 
                                    if course.school != ""
                                        |    #{course.school}
                                ul(class="courseDetails")
                                    li
                                        i(class="bx bxs-collection")
                                        span #{course.numCards}
                                    li
                                        i(class="bx bxs-star")
                                        span #{course.numFavorites}
                                    li
                                        i(class="fa-solid fa-eye")
                                        span #{course.numVisits}

                                div(class="courseFavorite" onclick="favorite(this)")
                                    if favorites.find(f => f.course.equals(course._id))
                                        i(class="bx bxs-star")
                                    else 
                                        i(class="bx bx-star")
                            if course.image 
                                img(src="image/"+course.image class="courseImage", onerror="this.style.display='none'", alt=" ")
                else 
                    li No public courses yet

            div(class="courseShowMore")
                span Show More 
                i(class="bx bx-chevron-down")

        div(class="courseModal hidden")
            div(class="courseModal-inside")
              div(class="contents front")
                div(class="depth")
                    a(class="courseModal-close")
                      i(class="bx bx-x bx-sm")
                    a(class="courseModal-share")
                      i(class="bx bxs-share bx-sm")
                    div(class="courseModalHeader")
                        img(class="courseModalImage")
                        p(class="courseModalTitle")
                    br
                    br
                    br
                    br
                    a(class="btn btn-primary" id="courseModalTest" onclick="event.stopPropagation();") Take test
                    br
                    a(class="btn btn-primary" id="courseModalEdit" onclick="event.stopPropagation();") Edit course


              div(class="contents back")
                div(class="depth")
                    a(class="courseModal-close")
                        i(class="bx bx-x bx-sm")
                    a(class="courseModal-back")
                        i(class="bx bx-arrow-back bx-sm")
                    div(class="courseModalDetails")
                        div(class="courseModalIcons")
                            i(class="bx bxs-collection")
                            span(class="courseModalNumcards") 
                            i(class="bx bxs-star")
                            span(class="courseModalFavorites")
                            i(class="fa-solid fa-eye")
                            span(class="courseModalVisits")
                        br
                        p(class="courseModalInfo") Code
                        p(class="courseModalCode")
                        br
                        p(class="courseModalInfo") Creator
                        p(class="courseModalCreator")
                        br
                        p(class="courseModalInfo") School
                        p(class="courseModalSchool")
                        br
                        p(class="courseModalInfo") Description
                        p(class="courseModalDescription")

                    div(class="courseModalQR hidden")
                        a(class="btn btn-primary" id="courseModalLink") Get link


    script(src='/public/scripts/courseFavorite.js')
    script(src='/public/scripts/courseAddition.js')

    <!-- This script is used to pass variables from this pug file to the courseAddition javascript file -->
    script(type="text/javascript").
        var count = "#{count}";
        var user = !{JSON.stringify(user)};
        var favorites = !{JSON.stringify(favorites)};

    script(src=src="https://unpkg.com/colorthief@2.3.2/dist/color-thief.umd.js")
    script(src='/public/scripts/courseModal.js')