doctype html

html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/card.css')
    link(rel="stylesheet" href='/public/stylesheets/navbar.css')
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' crossorigin="anonymous") 
    script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1510721999692361", crossorigin="anonymous")

  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            div(class='sidebar')
              div(class='logo-details')
                img(class='logoIcon' id="logo" src='/public/media/logoFlashcards.ico')
                .logo_name
                  span Flashcards
                i#btn.bx.bx-menu
              ul.nav-list
                li
                  div(class='nav-list-item')
                    a(href='/catalog')
                      i.bx.bx-grid-alt
                      span.links_name Dashboard
                    span.sub-menu
                      a(class='links_name' href='/catalog') Dashboard
                li
                  div(class='nav-list-item')
                    a(href='/courses')
                      i.bx.bx-grid-alt
                      span.links_name Courses
                    span.sub-menu
                      a(class='links_name' href='/courses') Courses
                li
                  div(class='nav-list-item')
                    a(href='/cards/create') 
                      i.bx.bx-user
                      span.links_name Cards
                    span.sub-menu
                      a(class='links_name' href='/cards/create') Cards
                li
                  div(class='nav-list-item')
                    i.bx.bxs-chevron-down.arrow
                    a
                      i.bx.bx-chat
                      span.links_name Creation
                    ul.sub-menu
                      li
                        a(class='links_name' href='') Creation
                      li
                        a(class='closed' href='/catalog/author/create') Author
                      li
                        a(class='closed' href='/catalog/genre/create') Genres
                      li
                        a(class='closed' href='/catalog/book/create') Books
                      li
                        a(class='closed' href='/catalog/bookinstance/create') Bookinstances
                li
                  div(class='nav-list-item')
                    i.bx.bxs-chevron-down.arrow
                    a
                      i.bx.bx-pie-chart-alt-2
                      span.links_name Details
                    ul.sub-menu
                      li
                        a(class='links_name' href='') Details
                      li
                        a(class='closed' href='/catalog/authors') Author
                      li
                        a(class='closed' href='/catalog/genres') Genres
                      li
                        a(class='closed' href='/catalog/books') Books
                      li
                        a(class='closed' href='/catalog/bookinstances') Bookinstances
                unless user
                  li(class='profile_listitem')
                    div(class='profile-details')
                      a(class='profile-setup' href='/login')
                        span Log In
                        i(class='bx bx-log-in')
                      a(class='profile-setup' href='/signup')
                        span Sign Up
                        i(class='bx bx-user-plus') 
      
                if user    
                  li(class='profile_listitem')
                    div(class='profile-details')
                      div(class='profile-content')
                        if user.profilePicture.length == 0
                          div(class="profileImage default")
                            - var name = user.firstName + " " + user.lastName;
                            - name = name.split(" ");
                            - var initials = "";
                            - for(let i of name){initials += i.charAt(0);}
                            span= initials
                        else
                          img(class="profileImage" src=`http://localhost:3000/user/image/${user.profilePicture}` alt="profileImg")
                      div(class='name-job')
                        div(class='profile_name') 
                          a(href='/profile') #{user.username}
                        div(class='job')
                          p #{user.firstName} #{user.lastName}
                      a(href='/logout' class="profile-details-right")
                      
                        i(class='bx bx-log-out')

            //-   unless user
            //-     a(href='/login') Log In | 
            //-     a(href='/signup') Sign Up
            //-   if user 
            //-     a(href='/profile') #{user.username} | 
            //-     a(href='/logout') Log Out

        div(class='col-sm-10')
          block content
script(src='/public/scripts/navbar.js')