doctype html

html(lang='en')
  head
    title Flashcards
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel="stylesheet" href='/public/stylesheets/navbar.css')
    link(rel="stylesheet" href='/public/stylesheets/cookies.css')
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet' crossorigin="anonymous")
    link(rel='icon', href="/public/media/favicon.svg") 


  body.preload
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            div(class='sidebar')
              div(class='logo-details')
                <!--img(class='logoIcon' id="logo" src='/public/media/logoFlashcards.ico')-->
                i(class="bx bxs-collection")
                .logo_name
                  span Flashcards
                i#btn.bx.bx-menu
              ul.nav-list
                li
                  div(class='nav-list-item')
                    a(href='/')
                      if page == "dashboard"
                        i.bx.bxs-grid-alt
                        span.links_name.bolder Dashboard
                      else 
                        i.bx.bx-grid-alt
                        span.links_name Dashboard
                    span.sub-menu
                      a(class='links_name' href='/') Dashboard
          
                li
                  div(class='nav-list-item')
                    i.bx.bxs-chevron-down.arrow
                    a(href="/courses/personal")
                      if page == "courses"
                        i.bx.bxs-book
                        span.links_name.bolder Courses
                      else 
                        i.bx.bx-book
                        span.links_name Courses
                    ul.sub-menu
                      li
                        a(class='links_name' href='/courses/personal') Courses
                      li
                        a(class='closed' href='/courses/personal') Personal
                      li
                        a(class='closed' href='/courses/public') Public
                      
                li
                  div(class='nav-list-item')  
                    a(href='/cards/create') 
                      if page == "cards"
                        i.bx.bxs-collection
                        span.links_name.bolder Cards
                      else 
                        i.bx.bx-collection
                        span.links_name Cards
                    span.sub-menu
                      a(class='links_name' href='/cards/create') Cards

                li 
                  div(class='nav-list-item')
                    div(class="div-mode-selector")
                      i.bx.bx-sun(id="sun", class="themselectorIcon")
                      //- i.bx.bx-moon(id="moon", class="themselectorIcon")
                    form(class="mode-selector")
                      fieldset
                        input(type="radio", id="light", name="theme", checked)
                        input(type="radio", id="dark", name="theme")


                unless user
                  li(class='profile_listitem')
                    div(class='profile-details')
                      a(class='profile-setup' href='/login')
                        span Log In
                        i(class='bx bx-log-in')
                      a(class='profile-setup' href='/signup')
                        span Sign Up
                        i(class='bx bx-user-plus') 
      
                if user    
                  li(class='profile_listitem')
                    a(href=user.url+'/update')
                      div(class='profile-details')
                        div(class='profile-content')
                          if user.profilePicture.length == 0
                            img(class="profileImage" src=`/user/image/${process.env.DEFAULT_PF_ID}` alt="profileImg")
                          else
                            img(class="profileImage" src=`/user/image/${user.profilePicture}` alt="profileImg")
                        div(class='name-job')
                          div(class='profile_name') 
                            p #{user.username}
                          div(class='job')
                            p #{user.firstName} #{user.lastName}
                        a(href='/logout' style="justify-content: flex-end")
                          i(class='bx bx-log-out')

        div(class='col-sm-10')


          div(class="cookie-banner hidden")
            div(class="cookie-banner-inside")
              div(class="contents front")
                div(class="depth")
                    a(class="cookie-banner-close")
                      i(class="bx bx-x bx-sm")
                    a(class="cookie-banner-edit")
                      i(class="bx bxs-pencil bx-sm")
                    img(src='/public/media/cookie1.png' alt='Http Cookie' class='cookie-banner-image')
                    p(class="cookie-banner-title") Cookies
                    p(class="cookie-banner-text") We use cookies for improving your user experience... <br> For more information view our <br> #[a(target="_blank" href="/public/media/cookiePolicy.png" class="cookie-banner-policy") Cookie Policy ]
                    button(class="btn cookie-banner-accept") That&apos;s fine!
                    a(class="cookie-banner-decline") Nah!

              div(class="contents back")
                div(class="depth")
                  a(class="cookie-banner-close")
                    i(class="bx bx-x bx-sm")
                  a(class="cookie-banner-edit")
                    i(class="bx bx-arrow-back bx-sm")
                  p(class="cookie-banner-title") Adjust Cookies
                  p(class="cookie-banner-text") Adjust the cookies you want to share <br> Afterwards go back to the other side
                  form(
                  id="cookieForm"
                  method="POST"
                  )   
                    div.centred
                      label(for="tpc") Third party cookies
                      input(type="checkbox" class="cookieCheckbox" id="tpc" name="tpc" checked) 
                    div.centred
                      label(for="analythics") Analythics
                      input(type="checkbox" class="cookieCheckbox" id="analythics" name="analythics" checked) 
                    div.centred
                      label(for="other") Other
                      input(type="checkbox" class="cookieCheckbox" id="other" name="other" checked)                       
                      

      

          block content

script(src='/public/scripts/navbar.js')
script(src='/public/scripts/cookies.js')
script(src="https://kit.fontawesome.com/0d56c33fff.js" crossorigin="anonymous")