extends layout 


block content
    h1 Log in:

    each msg in successes
        div.alert_succes
            p= msg
    each err in errors
        div.alert_error 
            p= err
            
    form(
            action="/user/login" 
            method="POST"
            )   
        div.form-group
            label(for="username") User name:
            input.form-control(
                id="username"
                type="text"
                name="username"
            )
        div.form-group
            label(for="password") Password:
            input.form-control(
                id="password"
                type="password"
                name="password"
            )
        a(href="http://localhost:3000/recovery") Forgot password?
        br
        br
        div.form-group
            input.btn.btn-primary(
                type="submit"
                value="Log in"
            )
        
