extends layout 


block content
    h1 Reset Password:
            
    form(
            method="POST"
            )   
        div.form-group
            label(for="password") Password:
            input.form-control(
                id="password"
                type="password"
                name="password"
                required='true'
            )
        div.form-group
            input.btn.btn-primary(
                type="submit"
                value="Reset password"
            )
        
