extends layout 


block content
    h1 Create account:
    
    each msg in successes
        div.alert_succes
            p= msg
    each err in errors
        div.alert_error 
            p= err

    form(
        action="/user/signup" 
        method="POST"
        )   
        div.form-group
            label(for="username") User name:
            input.form-control(
                id="username"
                type="text"
                name="username"
                required='true'
            )
        div.form-group
            label(for="firstname") First name:
            input.form-control(
                id="firstname"
                type="firstname"
                name="firstname"
                required='true'
            )
        div.form-group
            label(for="lastname") Last name:
            input.form-control(
                id="lastname"
                type="lastname"
                name="lastname"
                required='true'
            )
        div.form-group
            label(for="email") E-mail:
            input.form-control(
                id="email"
                type="email"
                name="email"
                required='true'
            )
        div.form-group
            label(for="password") Password:
            input.form-control(
                id="password"
                type="password"
                name="password"
                required='true'
            )
        div.form-group
            input.btn.btn-primary(
                type="submit"
                value="Sign Up"
            )