extends layout 

block content
    head 
        link(rel="stylesheet" href='/public/stylesheets/profilePictureForm.css')

    body
    h1 Username:  #{user.username}

    each msg in successes
        div.alert_succes
            p= msg
    each err in errors
        div.alert_error 
            p= err
        
    - var prev_values = {};
    if stored.length > 0
        - prev_values = stored[0];

    form(
        method="POST"
        enctype="multipart/form-data"
        )   
        div.form-group
            label(for="firstname") First name:
            input.form-control(
                id="firstname"
                type="firstname"
                name="firstname"
                required='true'
                value=prev_values.firstName || user.firstName
            )
        div.form-group
            label(for="lastname") Last name:
            input.form-control(
                id="lastname"
                type="lastname"
                name="lastname"
                required='true'
                value=prev_values.lastName || user.lastName
            )
 
        div(class='profile-pic')
            label.-label(for='profilepicture')
                i(class='bx bxs-camera')
                span Change Image
            input(
                id="profilepicture"
                type="file" 
                name="profilepicture"
                accept="image/png, image/jpeg"
            )
            if user.profilePicture.length == 0
                img(id="profileImage" src=`${process.env.BASE_URL}user/image/${process.env.DEFAULT_PF_ID}` alt="profileImg")
            else
                img(id="profileImage" src=`${process.env.BASE_URL}user/image/${user.profilePicture}` alt="profileImg")
    
        br
        br

        div.form-group
            input.btn.btn-primary(
                id="submitButton"
                type="submit"
                value="Edit profile"
                disabled 
            )
        br
        br
        br
    div.form-group
        a.btn.btn-primary(
            href=user.url+'/delete'
        ) Delete user

    script.
        document.getElementById("profilepicture").addEventListener("change", setNewImage);

        function setNewImage(event){
            var image = document.getElementById("profileImage");
            image.src = URL.createObjectURL(event.target.files[0]);
        }


        var inputs = document.querySelectorAll("input");
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("change", makeSubmittable);
        }

        function makeSubmittable(){
            document.getElementById("submitButton").disabled = false;
        };